# --- Python Core ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
env/
.venv/

# --- Distribution / Build ---
build/
dist/
*.egg-info/
.eggs/

# --- IDE & Editors ---
.vscode/
.idea/
.DS_Store

# --- Testing & Typos ---
.pytest_cache/
.coverage
htmlcov/